# .env.sample

# This is an example.env file.
# Create .env file in train_station_service directory
# in the same directory when README.md is located
# Fill in the values and save it

# Django secret key
SECRET_KEY="my_secret_key"

# Django DEBUG mode ("True" or "False")
DEBUG="False"

# Django ALLOWED_HOSTS
ALLOWED_HOSTS=yourdomain.com,localhost,127.0.0.1

# Django DATABASE_URL
POSTGRES_PASSWORD="your password"
POSTGRES_USER=client_1
POSTGRES_DB=station_db
POSTGRES_HOST=db
POSTGRES_PORT=5432
PGDATA=/var/lib/postgresql/data
